section.hero {
    --line-height: 2.5rem;

    max-width: 22.5rem;
    width: 100%;
    padding: 2.5rem;
    margin-inline: auto;

    & h1 {
        max-width: 40rem;
        
        & div {
            display: inline-block;
            overflow: hidden;
            height: var(--line-height);
            width: min-content;
            vertical-align: bottom;
        }

        & span:nth-child(1),
        & span:nth-child(4) {
            color: var(--snitap-sky-mid);
        }
        & span:nth-child(2) {
            color: var(--snitap-joy-mid);
        }
        & span:nth-child(3) {
            color: var(--snitap-leaf-mid);
        }

        & span {
            display: block;

            animation: slideUp 6s infinite ease;
        }
    }
}

@media (width >= 80em) {
    section.hero {
        --line-height: 5rem;

        max-width: 80rem;
    }
}

@keyframes slideUp {
    0%, 22% {
        transform: translateY(0);
    }

    23% {
        transform: translateY(calc((-1 * var(--line-height)) - 15px));
    }
    25% {
        transform: translateY(calc((-1 * var(--line-height)) + 10px));
    }
    27% {
        transform: translateY(calc((-1 * var(--line-height)) - 5px));
    }
    29% {
        transform: translateY(calc((-1 * var(--line-height)) + 2.5px));
    }

    33%, 55% {
        transform: translateY(calc(-1 * var(--line-height)));
    }

    56% {
        transform: translateY(calc(((-1 * var(--line-height)) * 2) - 15px));
    }
    58% {
        transform: translateY(calc(((-1 * var(--line-height)) * 2) + 10px));
    }
    60% {
        transform: translateY(calc(((-1 * var(--line-height)) * 2) - 5px));
    }
    62% {
        transform: translateY(calc(((-1 * var(--line-height)) * 2) + 2.5px));
    }

    66%, 88% {
        transform: translateY(calc((-1 * var(--line-height)) * 2));
    }

    89% {
        transform: translateY(calc(((-1 * var(--line-height)) * 3) - 15px));
    }
    91% {
        transform: translateY(calc(((-1 * var(--line-height)) * 3) + 10px));
    }
    93% {
        transform: translateY(calc(((-1 * var(--line-height)) * 3) - 5px));
    }
    95% {
        transform: translateY(calc(((-1 * var(--line-height)) * 3) + 2.5px));
    }

    100% {
        transform: translateY(calc((-1 * var(--line-height)) * 3));
    }
}